.face_pic {
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

.gen_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #b3c96b
}

body {
    background-color: #5a5980;
}